@font-face {
  font-family: Ubuntu;
  src: url('../fonts/Ubuntu-Regular.ttf')
}

@font-face {
  font-family: OpenSans;
  src: url('../fonts/OpenSans-Regular.ttf')
}

body {
  font-family: Ubuntu;
  background: linear-gradient(90deg, #D3CCE3 0%, #E9E4F0 100%);
}
