header {
    height: 65vh;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header img {
    width: 500px;
    padding-top: 10px;
}

span {
    animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.seros {
    font-weight: 400;
    font-size: 130px;
    letter-spacing: 0.045em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, .5);
}

.title {
    font-size: 36px;
    letter-spacing: 0.005em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, .25);
}

@keyframes focus-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      transform: translateZ(-800px);
      filter: blur(12px);
      opacity: 0;
    }
    100% {
      transform: translateZ(0);
      filter: blur(0);
      opacity: 1;
    }
  }