#search {
    border: none;
    background-color: #f0f0f0;
}

#search:focus {
    outline: none;
}

.icon label:hover {
    filter: drop-shadow(0 5px 8px rgba(0, 0, 0, 0.8));
}

.bar {
    background-color: #f0f0f0;
    padding: 5px 20px;
    border-radius: 20px;
    display: inline-block;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.bar label {
    padding-left: 10px;
}
